<nav class="navbar navbar-dark navbar-expand-lg bg-body-tertiary" style="background: #232d3f; height: 60px">
  <div class="container-fluid p-0">
    <div class="px-2 d-flex justify-content-between" style="width: 100%">
      <a class="navbar-brand d-flex align-items-center" href="/" style="color: white; font-size: 24px">
        <img height="25" src="../../../assets/MT.png" style="margin-left: 20px; margin-right: 10px" />
        ASA - Minang Techno</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-white"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02" style="background: #232d3f">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex justify-content-end align-items-center"
        style="background: #232d3f; margin-right: 20px">
        <li class="nav-item mx-2 my-2">
          <a href="https://api.whatsapp.com/send?phone=6282285106123&text=Hallo! Saya tertarik untuk menggunakan layanan anda"
            target="_blank" class="btn" style="color: white; background: #0066ff; min-width: 120px">
            Join Us
          </a>
        </li>
        <li class="nav-item mx-2 my-2">
          <button class="btn" style="color: white; background: #0066ff; min-width: 120px" routerLink="login">
            Login
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div style="background-color: #f2f4f8; width: 100%; height: 80%"
  class="d-flex justify-content-center align-items-center">
  <div style="background-color: #ffffff; max-width: 450px">
    <div class="d-flex justify-content-center align-items-center flex-column" style="padding: 36px">
      <h4 style="font-size: 30px" class="text-center">
        Forgotten your password?
      </h4>
      <h5 style="font-size: 14px" class="text-center">
        we'll send you a email to help you reset your password.
      </h5>
      <form nz-form [formGroup]="forgetForm" class="mt-3">
        <nz-form-label style="font-size: 14px">Username</nz-form-label>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your Username!">
            <nz-input-group>
              <input nz-input type="text" placeholder="Username" style="width: 350px; padding: 5px"
                formControlName="username" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <button nz-button nzType="primary" style="width: 100%; padding: 5px" (click)="onSubmit()">
          Send
        </button>
      </form>
    </div>
  </div>
</div>

<footer style="
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: #232d3f;
      ">
  <p style="font-size: 12px; color: white; text-align: center; margin-top: 8px">
    Copyright © Minang Techno 2023 all right reserved
  </p>
</footer>