<nz-table [nzLoading]="isLoading" #sortTable [nzData]="tableData" [nzTitle]="headerTable" [nzPageSize]="5">
  <thead>
    <tr>
      <th *ngFor="let col of listOfColumn" [nzWidth]="col.width">
        {{ col.name }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of sortTable.data">
      <td>
        <span nzTooltipPlacement="top" nz-tooltip nzTooltipTitle="View Detail" style="margin-right: 8px">
          <button class="btn btn-sm btn-light mr-3" (click)="handleViewEdit(data)">
            <i class="fe fe-eye"></i>
          </button>
        </span>
        <span nzTooltipPlacement="top" nz-tooltip nzTooltipTitle="Finish" style="margin-right: 8px">
          <button class="btn btn-sm btn-light mr-3" (click)="handleFinish(data)">
            <i class="fe fe-check"></i>
          </button>
        </span>
      </td>
      <td>{{ data.name }}</td>
      <td>{{ data.email }}</td>
      <td>{{ data.phoneNumber }}</td>
      <td>{{ data.startDate | date : "yyyy-MM-dd HH:mm:ss" }}</td>
      <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
        {{ data.visitReason }}
      </td>
    </tr>
  </tbody>
</nz-table>

<ng-template #headerTable>
  <!-- <nz-spin [nzSpinning]="isDownloading"> -->
  <div class="row justify-content-between">
    <div class="col-4">
      <span nzTooltipPlacement="top" nz-tooltip nzTooltipTitle="Refresh" style="margin-right: 8px">
        <a class="btn btn-lg btn-light mr-2" (click)="handleReload()">
          <i class="fe fe-refresh-cw"></i>
        </a>
      </span>
      <span nzTooltipPlacement="top" nz-tooltip nzTooltipTitle="Download" style="margin-right: 8px">
        <a class="btn btn-lg btn-light mr-2">
          <i class="fe fe-download"></i>
        </a>
      </span>
    </div>
    <div class="col">
      <form nz-form [nzLayout]="'inline'" style="display: flex; flex-direction: row; justify-content: flex-end">
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" style="width: 200px">
          <input type="text" nz-input placeholder="Search" />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" nzSearch>
            <span nz-icon nzType="search"></span>
          </button>
        </ng-template>
      </form>
    </div>
  </div>
  <!-- </nz-spin> -->
</ng-template>