<div style="width: 100vw; height: 100vh">
  <nav
    class="navbar navbar-dark navbar-expand-lg bg-body-tertiary"
    style="background: #232d3f; height: 60px"
  >
    <div class="container-fluid p-0">
      <div class="px-2 d-flex justify-content-between" style="width: 100%">
        <a class="navbar-brand" href="#" style="color: white">ASA</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon text-white"></span>
        </button>
      </div>
      <div
        class="collapse navbar-collapse"
        id="navbarTogglerDemo02"
        style="background: #232d3f"
      >
        <ul
          class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex justify-content-end align-items-center"
          style="background: #232d3f"
        >
          <li class="nav-item mx-2 my-2">
            <button
              class="btn"
              style="color: white; background: #0066ff; min-width: 150px"
            >
              Join Us
            </button>
          </li>
          <li class="nav-item mx-2 my-2">
            <button
              class="btn"
              style="color: white; background: #0066ff; min-width: 150px"
              routerLink="login"
            >
              Company Login
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
