<nz-layout style="height: 100vh; max-height: 100vh;">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null" nzWidth="256px"
    style="height: 100vh; max-height: 100vh;">
    <div class="d-flex justify-content-center" style="margin: 10px auto">
      <a href="">
        <img routerLink="/" src="../../../../assets/MT.png" alt="companyLogo" height="25" style="margin-top: 15px;" />
      </a>
    </div>
    <div *ngIf="!isCollapsed" class="d-flex justify-content-center align-items-center gap-3 py-3">
      <nz-avatar [nzSize]="38" nzIcon="user"></nz-avatar>
      <span class="fe fe-settings" style="font-size: 22px; color: #ffffffa6"></span>
      <nz-badge nzSize="small" [nzCount]="5"><span class="fe fe-bell"
          style="font-size: 18px; color: #ffffffa6"></span></nz-badge>
    </div>
    <div *ngIf="!isCollapsed" class="d-flex justify-content-center align-items-center py-3">
      <nz-input-group [nzPrefix]="suffixIconSearch" style="width: 230px; height: 40px; background-color: #f2f4f8">
        <input type="text" nz-input placeholder="Search" style="background-color: #f2f4f8" />
      </nz-input-group>
    </div>
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item routerLink="/dashboard">
        <span nz-icon nzType="home"></span>
        <span>Dashboard</span>
      </li>
      <li *ngIf="userRole === 'Admin'" nz-menu-item routerLink="user-management">
        <span nz-icon nzType="user"></span>
        <span>User</span>
      </li>
      <li *ngIf="userRole === 'Company'" nz-menu-item routerLink="visitor-management">
        <span nz-icon nzType="audit"></span>
        <span>Visitor</span>
      </li>
      <li *ngIf="userRole === 'Company'" nz-menu-item routerLink="employee-management">
        <span nz-icon nzType="team"></span>
        <span>Employee</span>
      </li>
      <li *ngIf="userRole === 'Company'" nz-menu-item routerLink="camera-management">
        <span nz-icon nzType="camera"></span>
        <span>Camera</span>
      </li>
      <li nz-menu-item (click)="logout()" style="position: absolute; bottom: 0;">
        <span nz-icon nzType="logout"></span>
        <span>logout</span>
      </li>
    </ul>

  </nz-sider>
  <nz-layout style="max-height: 100vh;">
    <nz-header class="d-flex align-items-center justify-content-between" style="background: #1890FF;">
      <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed" style="color: white;">
      </span>
      <div class="d-flex justify-content-center" style="width: 100%;">
        <span class="trigger" style="font-weight: 600; padding-right: 30px; letter-spacing: 2px; color: white;"> AI
          SECURITY
          APPLICATION
        </span>
      </div>
      <span style="color: white; padding-right: 20px;">
        {{email}}
      </span>
    </nz-header>
    <nz-content style="background-color: rgba(255, 255, 255, 0.85)"><router-outlet></router-outlet></nz-content>
  </nz-layout>
</nz-layout>