<nz-layout style="height: 100vh">
  <nz-sider nzWidth="256px" nzTheme="light">
    <div class="logo" style="margin: 10px auto">Logo Company</div>
    <div class="d-flex justify-content-center align-items-center gap-3 py-3">
      <nz-avatar [nzSize]="38" nzIcon="user"></nz-avatar>
      <span class="fe fe-settings" style="font-size: 22px"></span>
      <nz-badge nzSize="small" [nzCount]="5"
        ><span class="fe fe-bell" style="font-size: 18px"></span
      ></nz-badge>
    </div>
    <div class="d-flex justify-content-center align-items-center py-3">
      <nz-input-group
        [nzPrefix]="suffixIconSearch"
        style="width: 230px; height: 40px; background-color: #f2f4f8"
      >
        <input
          type="text"
          nz-input
          placeholder="Search"
          style="background-color: #f2f4f8"
        />
      </nz-input-group>
    </div>
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>

    <ul nz-menu nzTheme="light" nzMode="inline">
      <li nz-menu-item routerLink="/dashboard">
        <span class="fe fe-home" style="font-size: 16px"></span>
        <span style="margin-left: 6px; font-size: 16px">Dashboard</span>
      </li>
      <li
        nz-menu-item
        routerLink="visitor-management"
        [routerLinkActive]="'ant-menu-item-selected'"
      >
        <span class="fe fe-users" style="font-size: 16px"></span>
        <nz-badge [nzDot]="true" [nzOffset]="[5, 1]"
          ><span style="margin-left: 6px; font-size: 16px"
            >Visitor Management</span
          ></nz-badge
        >
      </li>
      <li
        nz-menu-item
        routerLink="employee-management"
        [routerLinkActive]="'ant-menu-item-selected'"
      >
        <span class="fe fe-user" style="font-size: 16px"></span>
        <span style="margin-left: 6px; font-size: 16px"
          >Employee Management</span
        >
      </li>
      <li
        nz-menu-item
        routerLink="camera-management"
        [routerLinkActive]="'ant-menu-item-selected'"
      >
        <span class="fe fe-camera" style="font-size: 16px"></span>
        <span style="margin-left: 6px; font-size: 16px">Camera Management</span>
      </li>
    </ul>
  </nz-sider>
  <div class="vertical-line"></div>
  <nz-content style="background-color: rgba(255, 255, 255, 0.85)"
    ><router-outlet></router-outlet
  ></nz-content>
</nz-layout>
