<div
  style="background-color: #f2f4f8; width: 100%; height: 100vh"
  class="d-flex justify-content-center align-items-center"
>
  <div style="background-color: #ffffff; max-width: 450px">
    <div
      class="d-flex justify-content-center align-items-center flex-column"
      style="padding: 36px"
    >
      <h3 style="font-size: 36px" class="text-center">
        Forgotten your password?
      </h3>
      <h5 style="font-size: 14px" class="text-center">
        There is nothing to worry about, we'll send you a message to help you
        reset your password.
      </h5>
      <form nz-form [formGroup]="forgetForm" class="mt-3">
        <nz-form-label style="font-size: 14px">Username</nz-form-label>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your Username!">
            <nz-input-group>
              <input
                nz-input
                type="text"
                placeholder="Username"
                style="width: 350px; padding: 5px"
                formControlName="username"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <button
          nz-button
          nzType="primary"
          style="width: 100%; padding: 5px"
          (click)="onSubmit()"
        >
          Send
        </button>
      </form>
    </div>
  </div>
</div>
