<h1
  style="
    margin: 25px 0 0 30px;
    font-weight: bold;
    font-size: 34px;
    text-align: center;
  "
>
  Camera Module
</h1>

<div
  class="camera-container d-flex gap-3 justify-content-center align-items-start"
  style="padding: 50px"
>
  <div class="camera" style="padding: 50px">
    <div
      class="rounded overflow-hidden"
      style="
        height: 360px;
        width: 480px;
        box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.62);
        -webkit-box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.62);
        -moz-box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.62);
      "
    >
      <webcam
        [height]="360"
        [width]="480"
        (imageCapture)="handleCapture($event)"
      ></webcam>
    </div>
  </div>
  <div
    class="detail w-100"
    style="
      background-color: gray;
      padding: 20px;
      box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.62);
      -webkit-box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.62);
      -moz-box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.62);
    "
  >
    <div class="row w-100">
      <div class="col-10">Visit Number</div>
      <div class="col">:</div>
    </div>
  </div>
</div>
