<nz-table #sortTable [nzData]="tableData" [nzTitle]="headerTable">
  <thead>
    <tr>
      <th *ngFor="let col of listOfColumn" [nzWidth]="col.width">
        {{ col.name }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of sortTable.data">
      <td>
        <span nzTooltipPlacement="top" nz-tooltip nzTooltipTitle="View Detail">
          <button class="btn btn-sm btn-light mr-3">
            <i class="fe fe-eye"></i>
          </button>
        </span>
      </td>
      <td>{{ data.name }}</td>
      <td>{{ data.email }}</td>
      <td>{{ data.phoneNumber }}</td>
      <td>{{ data.employeeId }}</td>
      <td>{{ data.position }}</td>
    </tr>
  </tbody>
</nz-table>

<ng-template #headerTable>
  <!-- <nz-spin [nzSpinning]="isDownloading"> -->
  <div class="row justify-content-between w-100">
    <div class="col-4">
      <span
        nzTooltipPlacement="top"
        nz-tooltip
        nzTooltipTitle="Add"
        style="margin-right: 8px"
      >
        <a class="btn btn-lg btn-light mr-2" (click)="modalVisible = true">
          <i class="fe fe-plus"></i>
        </a>
      </span>
      <span
        nzTooltipPlacement="top"
        nz-tooltip
        nzTooltipTitle="Download"
        style="margin-right: 8px"
      >
        <a class="btn btn-lg btn-light mr-2">
          <i class="fe fe-download"></i>
        </a>
      </span>
      <span
        nzTooltipPlacement="top"
        nz-tooltip
        nzTooltipTitle="Refresh"
        style="margin-right: 8px"
      >
        <a class="btn btn-lg btn-light mr-2" (click)="ngOnInit()">
          <i class="fe fe-refresh-cw"></i>
        </a>
      </span>
    </div>
    <div class="col">
      <form
        nz-form
        [nzLayout]="'inline'"
        style="display: flex; flex-direction: row; justify-content: flex-end"
      >
        <nz-input-group
          nzSearch
          [nzAddOnAfter]="suffixIconButton"
          style="width: 200px"
        >
          <input type="text" nz-input placeholder="Search" />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" nzSearch>
            <span nz-icon nzType="search"></span>
          </button>
        </ng-template>
      </form>
    </div>
  </div>
  <!-- </nz-spin> -->
</ng-template>

<nz-modal
  [(nzVisible)]="modalVisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="modalVisible = false"
  [nzWidth]="'50%'"
>
  <ng-template #modalTitle>Add Employee</ng-template>
  <ng-template #modalContent>
    <form [formGroup]="employeeForm">
      <div class="row">
        <div class="col">
          <nz-form-item>
            <nz-form-label>Name</nz-form-label>
            <input nz-input type="text" formControlName="name" nzRequired />
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>Email</nz-form-label>
            <input
              nz-input
              type="text"
              formControlName="email"
              email
              nzRequired
            />
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>Phone Number</nz-form-label>
            <input
              nz-input
              type="text"
              formControlName="phoneNumber"
              numbersOnly
              nzRequired
            />
          </nz-form-item>
          <nz-form-label style="font-size: 14px">Gender</nz-form-label>

          <nz-form-item>
            <nz-select
              nzPlaceHolder="Gender"
              style="width: 350px; padding: 5px"
              formControlName="gender"
            >
              <nz-option nzValue="Male" nzLabel="Male"> </nz-option>
              <nz-option nzValue="Female" nzLabel="Female"> </nz-option>
            </nz-select>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>Address</nz-form-label>
            <input nz-input type="text" formControlName="address" nzRequired />
          </nz-form-item>
        </div>
        <div class="col">
          <nz-form-item>
            <nz-form-label>Position</nz-form-label>
            <input nz-input type="text" formControlName="position" nzRequired />
          </nz-form-item>

          <nz-form-item>
            <nz-form-label>Employee Id</nz-form-label>
            <input
              nz-input
              type="text"
              formControlName="employeeId"
              nzRequired
            />
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>Employee Photo</nz-form-label>
            <!-- <input nz-input type="text" nzRequired /> -->
          </nz-form-item>
        </div>
      </div>
    </form>
  </ng-template>
  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="modalVisible = false">
      Cancel
    </button>
    <button nz-button nzType="primary" (click)="confirmAddEmployee()">
      Confirm
    </button>
  </ng-template>
</nz-modal>
